@charset "UTF-8";

@font-face {
    font-family: 'Ubuntu Light';
    src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url(../fonts/Ubuntu-Bold.ttf);
}

:root {
    /* Colors */
    --primary-color: #E9E9E9;
    --secondary-color: #9D969B;
    --base-color: #9D4EDD;
    --dark-base-color: #7B2CBF;

    --background-dark: #070307;
    --background-light: #19161B;

    /* Fonts */
    --font-light: 'Ubuntu Light', sans-serif;
    --font-regular: 'Ubuntu Regular', sans-serif;
    --font-bold: 'Ubuntu Bold', sans-serif;

    /* Font Sizes */
    --font-size-base: 14px;
    --font-size-small: 10px;

    --font-size-h1: 30px;
    --font-size-h2: 26px;
    --font-size-h3: 18px;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;

    background-color: var(--background-dark);
}

body h1, h2, h3, p {
    color: var(--primary-color);
}

body h1, h2, h3 {
    font-family: var(--font-bold);
}

body > header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 20px;

    background-image: url(../images/background-p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;

    position: fixed;
    z-index: 10;
}

body .screen-darken {
    display: none;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 15;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
}
  

header a {
    text-decoration: none;
}

header div#col-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 30px;

    text-align: right;
}

header div#menu-button span {
    color: var(--primary-color);
    font-size: 36px;

    user-select: none;
    cursor: pointer;
}

header div#menu-button span:hover {
    font-size: 38px;

    transition: font-size 0.2s;
}

header #side-menu {
    display: grid;

    width: 0vw;
    height: 100vh;
    padding: 0px; /* O JS irá adicionar 20px*/

    background-color: var(--background-dark);

    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;

    transition: width 0.6s, padding 0.7s;
}

header #side-menu img {
    width: 40px;

    cursor: pointer;
}

header #side-menu ul {
    display: grid;
    gap: 12px;
}

header #side-menu li {
    list-style-type: none;
}

header #side-menu li a {
    color: var(--primary-color);
    font-size: var(--font-size-h2);
    font-family: var(--font-bold);

    transition: padding 0.5s;
}

header #side-menu li a:hover {
    padding-right: 25px;

    color: var(--base-color);

    transition: padding 0.5s;
}

header #side-menu p {
    opacity: 30%;
}

div h1 {
    height: 73px;
    margin-bottom: 28px;

    color: var(--primary-color);
    text-align: center;
    font-size: var(--font-size-h1);
    font-family: var(--font-bold);
}

div h1 span {
    color: var(--base-color);
    font-size: 1.1em;
    background: linear-gradient(45deg, #7e44aa, #9D4EDD ,#7B2CBF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

div h2 {
    color: var(--primary-color);
    font-size: var(--font-size-h2);
    font-family: var(--font-bold);
}

div h2 span {
    background: linear-gradient(45deg, #7e44aa, #9D4EDD ,#7B2CBF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

div p {
    font-size: var(--font-size-base);
    font-family: var(--font-light);
}

section {
    padding: 70px 20px;

    background-color: var(--background-dark);
}

section:nth-of-type(1) {
    padding: 20px;
}

section:nth-of-type(2n) {
    background-color: var(--background-light);
}

section#intro {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;

    height: 580px;
    padding-top: 164px;
    
    text-align: center;

    background-image: url(../images/background-p-invert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.title-container {
    text-align: center;
}

.title-container h2 {
    text-align: center;
    font-size: var(--font-size-h2);
    font-family: var(--font-bold);
}

.title-container > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

div.title-container:nth-of-type(1) > div {
    margin-bottom: 28px;
}

.title-container > div > p { 
    flex: auto;
    flex-grow: 0;

    padding: 0px 10px;

    text-align: center;
    font-size: var(--font-size-base);
    font-family: var(--font-light);
}

div div.vsidebar {
    height: 57px;
    width: 2px;

    background-color: var(--base-color);
}

div div.hsidebar {
    height: 2px;
    width: 10px;

    background-color: var(--base-color);
}

div#useful-buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;

    font-size: var(--font-size-base);
    font-family: var(--font-regular);
}

div#useful-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 130px;
    margin: 0px 20px;

    border-radius: 22px;

    cursor: pointer;
}

div#useful-buttons div p {
    user-select: none;
}

div#useful-buttons a {
    text-decoration: none;

    user-select: none;
}

div#useful-buttons #cv-button {
    border: 1px solid var(--base-color);
    box-sizing: border-box;
}

div#useful-buttons #cv-button:hover {
    background-color: var(--base-color);

    transition: background-color 0.6s;
}

div#useful-buttons #contact-button {
    color: var(--primary-color);

    background-image: linear-gradient(45deg, #865da7, #9D4EDD ,#370068);
}

div#useful-buttons #contact-button:hover {
    background-image: linear-gradient(45deg, #a98fbe, #b077df ,#7029ad);
}

div#network-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    user-select: none;
}

div#network-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 52px;
    width: 52px;

    border: 1px solid var(--base-color);
    border-radius: 50%;
}

div#network-buttons div:hover {
    border: 1.9px solid var(--primary-color);
    
    transition: border 0.5s;
}

div#network-buttons div {
    fill: var(--primary-color);
}

section#intro > p {
    align-self: end;
    justify-self: end;

    font-size: var(--font-size-small);
    font-family: var(--font-light);

    user-select: none;
}

section#about {
    display: grid;
    grid-template-rows: min-content;
    gap: 40px;

    scroll-margin-top: 80px;
}

section#about article {
    display: grid;
    grid-template-rows: min-content;
    justify-content: center;
    gap: 20px;

    text-align: justify;
    font-size: var(--font-size-base);
    font-family: var(--font-light);
}

section#about article p {
    text-indent: 20px;
    max-width: 450px;
}

section#about article p:last-of-type {
    font-size: var(--font-size-small);
}

section#about span {
    color: var(--base-color);
}

section#about figure {
    text-align: center;
}

section#about img {
    max-width: 190px;
    margin-bottom: 20px;

    border-radius: 50%;
    border: 1px solid var(--base-color);
}

section#skills {
    scroll-margin-top: 80px;
}

section#skills header {
    margin-bottom: 40px;
}

section#skills article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    column-gap: 12px;

    min-width: 320px;
    max-width: 420px;
    margin: auto;
}

section#skills article img {
    max-width: 48px;
}

section#skills .card-skill {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
}

section#skills .card-skill:nth-of-type(2n) {
    justify-content: right;
}

section#skills .logo-skill {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 60px;
    padding: 5px;

    border: 1px solid var(--base-color);
    border-radius: 10px;
}

section#skills .text-skill {
    padding-left: 10px;
}

section#skills article div:nth-of-type(2n) .text-skill {
    width: 70px;
}

section#skills .text-skill h3 {
    font-size: var(--font-size-h3);
    font-family: var(--font-bold);
}

section#skills .text-skill p {
    font-size: var(--font-size-small);
    font-family: var(--font-light);
}

section#projects {
    scroll-margin-top: 80px;
}

section#projects header {
    margin-bottom: 70px;
}

section#projects article > div:nth-of-type(1) {
    border: 1px solid var(--base-color);
}

section#projects article p {
    padding: 4px 0px;

    text-align: justify;
    font-size: var(--font-size-base);
    font-family: var(--font-light);
}

section#projects p:nth-of-type(2) {
    color: var(--base-color);
    font-family: var(--font-regular);
}

section #project-box {
    display: flex;

    max-width: 480px;
    padding: 20px;
    margin: auto;
    margin-bottom: 32px;

    border: 1px solid var(--base-color);
    border-radius: 20px;
}

section .project-info {
    width: 100%;

    position: relative;
}

section .project-info h3 {
    font-size: var(--font-size-h3);
}

section#projects div.img-box {
    display: flex;
    justify-content: center;

    width: 100%;
}

section#projects div.img-box img {
    height: 60%;
    max-width: 100%;
    margin-top: -50px;
    margin-bottom: 12px;

    border-radius: 20px;
}

section#projects .project-links {
    display: flex;
    justify-content: right;
}

section#projects .project-links div {
    padding-left: 10px;
}

section#projects .project-links img {
    max-width: 38px;

    user-select: none;
}

section#projects .swiper {
    max-width: 700px;
    height: 18vw;
    cursor: grab;
    user-select: none;
}
  
section#projects .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;

    border-radius: 10px;
}

section#contact {
    display: grid;
    justify-content: center;

    scroll-margin-top: 80px;
}

section#contact header {
    margin-bottom: 40px;
}

section#contact article {
    display: grid;
    grid-template-rows: auto auto;
    gap: 8px;

    max-width: 450px;
}

section#contact article p {
    text-align: justify;
    font-size: var(--font-size-base);
    font-family: var(--font-light);
}

section#contact article h3 {
    font-size: 1.5em;
}

section#contact span {
    background: linear-gradient(45deg, #865da7, #9D4EDD ,#370068);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#contact form {
    display: grid;
    grid-template-rows: auto auto;
    gap: 8px;
}

section#contact form div {
    height: 52px;
    width: 100%;
}

section#contact form div:nth-last-of-type(2) {
    height: 104px;
}

section#contact form input, textarea {
    height: 100%;
    width: 100%;

    color: var(--primary-color);
    text-indent: 12px;
    font-size: var(--font-size-base);
    font-family: var(--font-light);

    background-color: var(--background-light);
    border-radius: 8px;
    border: 0;
}

section#contact textarea {
    padding: 14px 12px;

    text-indent: 0;

    resize: none;
    box-sizing: border-box;
}

section#contact textarea::placeholder {
    line-height: 16px;
}

section#contact form input[type="submit"] {
    color: var(--primary-color);
    text-indent: 0;
    font-size: var(--font-size-base);
    font-family: var(--font-regular);

    background-color: var(--dark-base-color);

    cursor: pointer;
}

section#contact form input[type="submit"]:hover {
    background-color: var(--base-color);
}

footer #footer-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 50px 20px;

    background-color: var(--background-light);
}

footer #footer-links h2 {
    color: var(--base-color);
}

footer #footer-links a {
    text-decoration: none;
}

footer #footer-links a p:hover {
    color: var(--base-color);
}

footer #footer-links > div {
    display: grid;
    grid-template-rows: auto auto;
    gap: 8px;
}

footer #footer-credits {
    padding: 20px 40px;

    background-color: var(--background-dark);
}

footer #footer-credits p {
    text-align: center;
    font-size: var(--font-size-small);
}