@charset "UTF-8";

@font-face {
    font-family: 'Ubuntu Light';
    src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url(../fonts/Ubuntu-Bold.ttf);
}

:root {
    /* Colors */
    --primary-color: #E9E9E9;
    --secondary-color: #9D969B;
    --base-color: #9D4EDD;
    --dark-base-color: #7B2CBF;

    --background-dark: #070307;
    --background-light: #19161B;

    /* Fonts */
    --font-light: 'Ubuntu Light', sans-serif;
    --font-regular: 'Ubuntu Regular', sans-serif;
    --font-bold: 'Ubuntu Bold', sans-serif;

    /* Font Sizes */
    --font-size-base: 14px;
    --font-size-small: 10px;

    --font-size-h1: 30px;
    --font-size-h2: 26px;
    --font-size-h3: 18px;
}

/*

* Organização de declarações por categorias:

    * Propriedades de Layout e Caixa:
        ! display, position, top, rigth, bottom, left, z-index, ...
    * Dimensões e espaçamento:
        ! width, heigth, padding, margin, ...
    * Tipografia:
        ! font-family, font-size, font-weigth, color, ...
    * Estilo visual:
        ! background, border, box-shadow, opacity, ...
    * Outras:
        ! transition, animation, cursor, ...
*/

body {
    height: 100vh;
    width: 100vw;

    background-color: var(--background-dark);
}

body h1, h2, h3, p {
    color: var(--primary-color);
}

body > header {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;

    width: 100%;
    padding: 20px;

    background-image: url(../images/background-p.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;

    position: fixed;
}

header div#col-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 45px;

    text-align: right;
}

header div#menu-button span {
    color: var(--primary-color);
    font-size: 36px;
}

div h1 {
    margin-bottom: 28px;

    color: var(--primary-color);
    text-align: center;
    font-size: var(--font-size-h1);
    font-family: var(--font-bold);
}

div h1 span {
    color: var(--base-color);
    text-decoration: underline;
}

div h2 {
    color: var(--primary-color);
    font-size: var(--font-size-h2);
    font-family: var(--font-bold);
}

div h2 span {
    color: var(--base-color);
}

div p {
    font-size: var(--font-size-base);
    font-family: var(--font-light);
}

section {
    padding: 70px 20px;

    background-color: var(--background-dark);
}

section:nth-of-type(1) {
    padding: 20px;
}

section:nth-of-type(2n) {
    background-color: var(--background-light);
}

section#intro {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;

    height: 450px;
    padding-top: 164px;
    
    text-align: center;

    background-image: url(../images/background-p-invert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.title-container {
    text-align: center;
}

.title-container h2 {
    text-align: center;
    font-size: var(--font-size-h2);
    font-family: var(--font-bold);
}

.title-container > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

div.title-container:nth-of-type(1) > div {
    margin-bottom: 28px;
}

.title-container > div > p { 
    flex: auto;
    flex-grow: 0;

    padding: 0px 10px;

    text-align: center;
    font-size: var(--font-size-base);
    font-family: var(--font-light);
}

div div.vsidebar {
    height: 57px;
    width: 2px;

    background-color: var(--base-color);
}

div div.hsidebar {
    height: 2px;
    width: 10px;

    background-color: var(--base-color);
}

div#useful-buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;

    font-size: var(--font-size-base);
    font-family: var(--font-regular);
}

div#useful-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 130px;
    margin: 0px 20px;

    border-radius: 22px;

    cursor: pointer;
}

div#useful-buttons div p {
    user-select: none;
}

div#useful-buttons div:nth-of-type(1) {
    border: 1px solid var(--base-color);
    box-sizing: border-box;
}

div#useful-buttons div:nth-of-type(2) {
    color: var(--primary-color);

    background-color: var(--base-color);
}

div#network-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

div#network-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 52px;
    width: 52px;

    border: 1px solid var(--base-color);
    border-radius: 30px;
}

div#network-buttons div {
    fill: var(--primary-color);
}

section#intro > p {
    align-self: end;
    justify-self: end;

    font-size: var(--font-size-small);
    font-family: var(--font-light);
}

section#about {
    display: grid;
    grid-template-rows: min-content;
    gap: 40px;

    height: 550px;
}

section#about article {
    display: grid;
    grid-template-rows: min-content;
    gap: 20px;

    text-align: justify;
    font-size: var(--font-size-base);
    font-family: var(--font-light);
}

section#about article p {
    text-indent: 20px;
}

section#about article p:nth-of-type(3) {
    font-size: var(--font-size-small);
}

section#about span {
    color: var(--base-color);
}

section#about figure {
    text-align: center;
}

section#about img {
    max-width: 190px;
    margin-bottom: 20px;

    border-radius: 50%;
    border: 1px solid var(--base-color);
}

section#skills {
    height: 550px;
}

section#skills header {
    margin-bottom: 40px;
}

section#skills article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    column-gap: 12px;

    height: 450px;
}

section#skills article img {
    max-width: 48px;
}

section#skills .card-skill {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
}

section#skills .card-skill:nth-of-type(2n) {
    justify-content: right;
}

section#skills .logo-skill {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 60px;
    padding: 5px;

    border: 1px solid var(--base-color);
    border-radius: 10px;
}

section#skills .text-skill {
    padding-left: 10px;
}

section#skills article div:nth-of-type(2n) .text-skill {
    width: 70px;
}

section#skills .text-skill h3 {
    font-size: var(--font-size-h3);
    font-family: var(--font-bold);
}

section#skills .text-skill p {
    font-size: var(--font-size-small);
    font-family: var(--font-light);
}